<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Chat</title>
</head>

<body>
    <%- include('partials/navbar'); -%>

        <div class="container">

                <!-- <% for (var i=0; i < sess.messages.length; i++) { %>
                    
                            <%= sess.messages[i] %><br><br>

                        <% } %> -->

        </div>




</body>

</html>