<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Messages</title>
</head>

<body style="padding-bottom: 50px;">
    <%- include('partials/navbar'); -%>

        <div class="container">

            <ul>
                <% for (var i=0; i < sess.cnames.length; i++) { %>
                    <li class="list" id="<%= sess.cnames[i].Id %>">
                        <%= sess.cnames[i].Username %>
                    </li>
                    <% } %>
            </ul>


            <br><br>

            <ul id="mesages" style="list-style-type:none;">
            </ul>

            <br><br><br><br>
            <div style="position: fixed; bottom: 0; background-color: #007BFF;">
                <input id="chat-input" type="text" style="width: 500px;"></input>

                <button id="send">Send</button>
                
            </div>



        </div>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script>
    var socket = io()

    var messageArr = []
    var currentChatId = -1
    var currentChatName = ''
    var refresh = false
    var lastId = -1

    socket.on('hello', function (data) {
        console.log(data.msg)
    })

    var item = document.getElementsByClassName("list");
    for (var i = 0; i < item.length; i++) {
        item[i].addEventListener("click", function (e) {
            socket.emit('getMsg', { user: e.target.innerText, id: e.target.id })
            currentChatName = e.target.innerText
            currentChatId = e.target.id
            console.log("clicked user " + e.target.innerText)
        });
    }

    setInterval(function () {
        socket.emit('getMsg', { user: currentChatName, id: currentChatId })
    }, 1000)


    socket.on('showMsg', function ({ data, result }) {
        console.log("Get messages from " + data.user)
        console.log((result))
        // messageArr = []

        if (lastId != result[result.length - 1]?.Id) {
            lastId = result[result.length - 1]?.Id || -1
            currentChatId = data.id
            var ul = document.getElementById("mesages");
            ul.innerHTML = ''
            result.forEach(m => {
                messageArr.push(m.Content)
                var i = m.FromUser
                var ul = document.getElementById("mesages");
                var li = document.createElement("li");
                var children = ul.children.length + 1
                li.setAttribute("id", "element" + children)

                i == data.id ? (li.setAttribute("style", "background-color: #CCEBFF")) : 
                    (li.setAttribute("style", "background-color:#EEFFCC; text-align: right"))
                li.appendChild(document.createTextNode(m.Content));
                ul.appendChild(li)
            })
        }



    })

    var send = document.getElementById('send')
    var messageData = document.getElementById('chat-input')
    send.addEventListener('click', function () {
        var data = messageData.value
        messageData.value = ''

        socket.emit('messageData', { data: data, toId: currentChatId })
    })






</script>

</html>